<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
</head>

<body style="background-color:rgb(229, 248, 246)">
    <div class="container">
        <p></p>
        <div class="jumbotron text-center">
            <h1 style="color:rgb(161, 59, 59)"><strong>Mission to Mars</strong></h1>
            <p></p>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape the Data</a></p>
        </div>

        <div class="row" id="latest_news">
            <div class="col-md-12">
                <h4 style="color:rgb(119, 43, 43)">{{mars.news_title}} </h4>
                <blockquote>{{mars.news_p}}</blockquote>   
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-8 whitebox">
                <img src="{{mars.featured_image_url}}" class="img-fluid max-width: 100%;" style="height: auto;" alt="mars_photo">   
            </div>
            <div class="justify-content-md-center col-md-4">
                <h5 class="text-center" style="color:rgb(119, 43, 43)"">Latest Weather Report</h5>                
                <blockquote>{{mars.mars_weather}}</blockquote>    

                <p></p>
                <h5 class="text-center" style="color:rgb(119, 43, 43)">Mars Info</h5>
                <div class = "row">
                    <div class="col-md-6 text-center" style="color:rgb(119, 43, 43)">Description</div>
                    <div class="col-md-6 text-center" style="color:rgb(119, 43, 43)">Data</div>
                </div>
                {{ mars.html_table|safe }}    
            </div>
        </div>
        <p></p>
        <div class="row justify-content-md-center whitebox rounded-sm">
            <h3 class="text-center" style="color:rgb(119, 43, 43)";>Mars Hemispheres</h3>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-6 ">
                <div class="whitebox2 ">
                    <h5 class="text-center" style="color:rgb(119, 43, 43)"> {{mars.title_hem1}}</h5>
                    <img src={{mars.hem_img1_link}} class="img-fluid " alt="image"/> 
                </div>
            </div>
            <div class="col-md-6">
                <div class="whitebox2">
                    <h5 class="text-center" style="color:rgb(119, 43, 43)"> {{mars.title_hem2}}</h5>
                    <img src={{mars.hem_img2_link}}  class="img-fluid" alt="image"/> 
                </div>
            </div>                        
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-6">
                <div class="whitebox2">
                    <h5 class="text-center" style="color:rgb(119, 43, 43)"> {{mars.title_hem3}}</h5>
                    <img src={{mars.hem_img3_link}}  class="img-fluid" alt="image"/> 
                </div>
            </div>
            <div class="col-md-6">
                <div class="whitebox2">
                    <h5 class="text-center" style="color:rgb(119, 43, 43)"> {{mars.title_hem4}}</h5>
                    <img src={{mars.hem_img4_link}}  class="img-fluid" alt="image"/> 
                </div>
            </div>                        
        </div>
        <p></p>
    </div>
    


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>